<%- include("../fragments/header.ejs") %>
<body>
    <div class="button-container">
        <a href="/add/client" class="addcli-button">New Entry....</a>
        <a href="/view" class="return-button">Change Table</a>
        
    
    </div>    
  
<div class="table-container">

    <h2>Database Entries of "Client"</h2>
    <table border="1">
        <thead>
            <tr>
                <th>ID Client</th>
                <th>Nume</th>
                <th>Prenume</th>
                <th>Email</th>
                <th>CNP</th>
                <th>Telefon</th>
                <th>Adresa</th>
                <th>Actiuni</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < entries.length; i++) { %>
                <tr>
                    <td><%= entries[i].id_client %></td>
                    <td><%= entries[i].nume %></td>
                    <td><%= entries[i].prenume %></td>
                    <td><%= entries[i].email %></td>
                    <td><%= entries[i].cnp %></td>
                    <td><%= entries[i].telefon %></td>
                    <td><%= entries[i].adresa %></td>
                    <td>
                        <form action="/edit/client/<%= entries[i].id_client %>" method="get">
                            <button type="submit">EDIT</button>
                        </form>
                    </td>
                    <td>
                        <form action="/delete/client/<%= entries[i].id_client %>" method="post">
                            <button type="submit">DELETE</button>
                        </form>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>
</body>

<%- include("../fragments/footer.ejs") %>