<%- include("../fragments/header.ejs") %>
<body>
    <div class="button-container">
        <a href="/view/avocati" class="retavo-button">Cancel and return to view page</a>
        
    
    </div>    
 
<div class="form-container">
    <h2>Update "Avocat"</h2>
    <form action="/edit/avocat/action/<%= result.id_avocat %>" method="post" enctype="multipart/form-data">
        <label for="nume">Nume:</label>
        <input type="text" name="nume" required value = "<%= result.nume %>">

        <label for="prenume">Prenume:</label>
        <input type="text" name="prenume" required value = "<%= result.prenume %>">

        <label for="email">Email:</label>
        <input type="email" name="email" required value = "<%= result.email %>">

        <label for="cnp">CNP:</label>
        <input type="text" name="cnp" required value = "<%= result.cnp %>">

        <label for="telefon">Telefon:</label>
        <input type="text" name="telefon" required value = "<%= result.telefon %>">

        <label for="specializare">Specializare:</label>
        <input type="text" name="specializare" required value = "<%= result.specializare %>">

        <label for="speta">Speta:</label>
        <input type="text" name="speta" required value = "<%= result.speta %>">

        <button type="submit">Update</button>
    </form>
</div>
</body>

<%- include("../fragments/footer.ejs") %>