<%- include("../fragments/header.ejs") %>
<body>
    <div class="button-container">
        <a href="/view/contracte" class="retcontr-button">Cancel and Return to View Page</a>
        
    
    </div>    
    <div class="form-container">
        <h2>Edit "Contract"</h2>
        <form action="/edit/contract/action/<%= result.id_contract %>" method="post" enctype="multipart/form-data">
            <label for="id_avocat_ctr">Avocat:</label>
            <select name="id_avocat_ctr" required>
                <% for (let i = 0; i < avocatList.length; i++) { %>
                    <option value="<%= avocatList[i].id_avocat %>" <%= (avocatList[i].id_avocat === result.id_avocat_ctr) ? 'selected' : '' %>>
                        <%= avocatList[i].id_avocat %>: <%= avocatList[i].nume %> <%= avocatList[i].prenume %>
                    </option>
                <% } %>
            </select>

            <label for="id_client_ctr">Client:</label>
            <select name="id_client_ctr" required>
                <% for (let i = 0; i < clientList.length; i++) { %>
                    <option value="<%= clientList[i].id_client %>" <%= (clientList[i].id_client === result.id_client_ctr) ? 'selected' : '' %>>
                        <%= clientList[i].id_client %> : <%= clientList[i].nume %> <%= clientList[i].prenume %>
                    </option>
                <% } %>
            </select>

        <label for="valoare">Valoare (EUR):</label>
        <input type="number" name="valoare" required value = "<%= result.valoare %>">

        <label for="data_start">Data Start:</label>
        <%
        function monthNameToNumber(monthName) {
            const date = new Date(`${monthName} 1, 2000`);
            const monthNumber = date.getMonth() + 1; // Months are zero-based, so add 1
            return monthNumber < 10 ? `0${monthNumber}` : `${monthNumber}`;
        }
        originalDate = new Date(result.data_start);
        originalDate = originalDate.toString().split(" ");
        const monthName = originalDate[1];
        const numericMonth = monthNameToNumber(monthName);
        const pickerDate = originalDate[3] + "-" + String(numericMonth) + "-" + originalDate[2]
        %>
        <input type="date" name="data_start" required value="<%= pickerDate %>">

        <label for="data_sfarsit">Data Sfarsit:</label>
        <%
        function monthNameToNumber(monthName) {
            const date = new Date(`${monthName} 1, 2000`);
            const monthNumber = date.getMonth() + 1; // Months are zero-based, so add 1
            return monthNumber < 10 ? `0${monthNumber}` : `${monthNumber}`;
        }
        var pickerDate2 = null;
        if(result.data_sfarsit != null){
            originalDate2 = new Date(result.data_sfarsit);
            originalDate2 = originalDate2.toString().split(" ");
            const monthName2 = originalDate2[1];
            const numericMonth2 = monthNameToNumber(monthName2);
            pickerDate2 = originalDate2[3] + "-" + String(numericMonth2) + "-" + originalDate2[2]
        }
            
        
        %>
        <input type="date" name="data_sfarsit" value="<%= pickerDate2 %>">


        <label for="judecatorie">Judecatorie:</label>
        <input type="text" name="judecatorie" required value = "<%= result.judecatorie %>">

        <button type="submit">Update</button>
    </form>
</div>
</body>

<%- include("../fragments/footer.ejs") %>