<%- include("../fragments/header.ejs") %>
<body>
    <div class="button-container">
        <a href="/view/clienti" class="retcli-button">Cancel and return to view page</a>
        
    
    </div>    
  
<div class="form-container">
    <h2>Update "Client"</h2>
    <form action="/edit/client/action/<%= result.id_client %>" method="post" enctype="multipart/form-data">
        <label for="nume">Nume:</label>
        <input type="text" name="nume" required value = "<%= result.nume %>">

        <label for="prenume">Prenume:</label>
        <input type="text" name="prenume" required value = "<%= result.prenume %>">

        <label for="email">Email:</label>
        <input type="email" name="email" required value = "<%= result.email %>">

        <label for="cnp">CNP:</label>
        <input type="text" name="cnp" required value = "<%= result.cnp %>">

        <label for="telefon">Telefon:</label>
        <input type="text" name="telefon" required value = "<%= result.telefon %>">

        <label for="adresa">Adresa:</label>
        <input type="text" name="adresa" required value = "<%= result.adresa %>">

        <button type="submit">Update</button>
    </form>
</div>
</body>

<%- include("../fragments/footer.ejs") %>